BrowserStackLocal/BrowserStackLocal Unit Tests/bin
BrowserStackLocal/BrowserStackLocal Unit Tests/obj
BrowserStackLocal/BrowserStackLocal/bin
BrowserStackLocal/BrowserStackLocal/obj
BrowserStackLocal/packages
BrowserStackLocal/.vs
BrowserStackLocalExample/BrowserStackExample/bin
BrowserStackLocalExample/BrowserStackExample/obj
BrowserStackLocalExample/packages
BrowserStackLocalExample/.vs
